@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Medium';
	src: url('fonts/Roboto-Medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

body, html {
	font-family: Roboto, Arial, sans-serif;
	background-color: white;
	margin: 0;
	max-width: 100%;
	padding: 0!important;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.popup {
	width: 400px;
}

ul {
	list-style: none;
}

#main-container {
	padding: 5px;
	min-height: 550px;
	width: 500px;
	box-shadow: 0 0 5px #DDDDDD;
	margin: 5px;
	border-radius: 10px; 
}

#title {
	background-color: #DDDDDD;
	color: black;
	text-align: left;
	padding: 10px;
	border-radius: 18px;
	position: relative;
}

.button-div {
	margin-top: 0.8em !important;
}

.round-override {
	border-radius: 12px !important; 
}

.size-1 {
	margin-top: 0.2em !important;
	margin-bottom: 0.2em !important;
	font-size: calc(1.2rem + .9vw);
}

.light-text {
	color: #4F4F4F;
}

.card-header {
	background-color: #DDDDDD;
	border-bottom: 0;
}

.card-title {
	font-family: Roboto Medium, Arial, sans-serif;
	user-select: none;
}

.card-title-lg {
	font-family: Roboto Medium, Arial, sans-serif;
	background-color: #dddddda3;
	backdrop-filter: blur(8px);
	box-shadow: 0px 0px 24px #888888;
	border-radius: 12px;
	padding-left: 0.6em;
	padding-right: 0.6em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
  min-height: 96px;
  display: flex;
  align-items: center;
	user-select: none;
}

.panel-lg {
	background-color: #dddddda3;
	backdrop-filter: blur(8px);
	box-shadow: 0px 0px 24px #888888;
	border-radius: 12px;
	margin-left: 1.5em;
	padding-left: 0.6em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.filter-btn {
	background-color: #dddddda3;
	backdrop-filter: blur(8px);
	box-shadow: 0px 0px 12px #888888;
	border-radius: 12px;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
  outline: none;
  border: none;
}

.fb-pad {
  padding-right: 0.4em;
}

.filter-btn:hover {
	background-color: #6c757d2e;
}

.filter-btn:active svg {
  fill: white;
}

.search-bar-sm {
	font-family: Roboto, Arial, sans-serif;
	background-color: #ffffff69;
	backdrop-filter: blur(8px);
	border: none;
  font-size: 1rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: start;
  margin-left: 0.4em;
  margin-bottom: 0.4em;
  padding-left: 0.6em;
  padding-right: 2.4em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.search-bar-sm:focus {
	outline: none;
}

.search-bar {
	font-family: Roboto, Arial, sans-serif;
	background-color: #ffffff69;
	backdrop-filter: blur(8px);
	border: none;
  font-size: 1rem;
  width: 96%;
  border-radius: 0.375rem;
  display: flex;
  align-items: start;
  padding-left: 0.6em;
  padding-right: 0.6em;
  margin-top: 1.2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.search-bar:focus {
	outline: none;
}

.search-bar-lg {
	font-family: Roboto, Arial, sans-serif;
	background: none;
	font-size: 2vw;
	border: none;
}

.src-col {
	padding-left: 0;
}

.search-bar-lg:focus {
	outline: none;
}

#add-todo-btn {
	margin-left: 10px;
	background-color: #DDDDDD;
	border: 2px solid #C45500;
	width: 3vw;
	height: 3vw;
	font-size: 2.5vw;
	line-height: 3vw;
	color: #C45500;
	border-radius: 1.5vw;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: 50%; 
	right: 2px;
	transform: translate(-50%, -50%); 
}

.primary-outline-btn{
	margin-left: 10px;
	background-color: #DDDDDD;
	border: 3px solid #C45500;
	width: 6vw;
	height: 6vw;
	font-size: 3vw;
	padding-left: 1.8vw;
	line-height: 0;
	color: #C45500;
	border-radius: 1.5vw;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: 50%; 
	right: 2px;
	transform: translate(-50%, -50%); 
}

.btn-circle {
	border-radius: 50%;
	height: 85%;
	font-weight: bold;
	aspect-ratio: 1;
	box-shadow: 0px 0px 12px #888888;
}

#checklist {
	background-color: #DDDDDD;
	padding: 5px;
	overflow-x: hidden;
	height: 200px;
	overflow-y: auto;
}

#checklist-2 {
	background: none;
}

#checklist input {
	margin-right: 5px;
}

#checklist label {
	margin-bottom: 5px;
	display: inline-block;
}

.form-check {
	background-color: #DDDDDD;
}

.note-container {
	background-color: #dddddda3;
	backdrop-filter: blur(8px);
	box-shadow: 0px 0px 24px #888888;
	padding: 1.5em;
	border-radius: 12px;
}

.note-main {
	padding-left: 2em;
}

#add-note-button {
	background-color: #C45500;
	color: #fff;
	border: none;
	padding: 10px 15px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 0.375rem;
}

.form-check-2 {
	background-color: #dddddda3;
	backdrop-filter: blur(8px);
	box-shadow: 0px 0px 24px #888888;
	display: block;
	padding: 1.5em;
	margin-top: 1.5em;
	border-radius: 12px;
}

.form-check-2 .form-check-input {
	float: left;
}

.task-desc {
	overflow-wrap: anywhere;
	white-space: pre-wrap;
}

.card {
	border: None;
	background-color: #DDDDDD;
}

.task-title {
	font-size: 2rem;
	margin-top: -0.75rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.capped {
	width: 64%;
}

.todo-container {
	background-color: #DDDDDD;
	border: None;
}

.fill-btn {
	width: 100%;
	height: 100%;
}

.edit-col {
	margin-left: 1rem;
}

.list-group-item {
	background-color: #DDDDDD;
	padding: 2px var(--bs-list-group-item-padding-x); 
	border: None;
}

.task-form {
	background-color: #DDDDDD;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}

.task-input {
	width: 100%; 
	padding: 8px;
	box-sizing: border-box;
	margin-bottom: 10px;
	border-radius: 5px;
}

.add-task {
	background-color: #C45500;
	color: #fff;
	border: none;
	padding: 10px 15px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 3px;
}

.modal {
	background-color: rgba(221, 221, 221, 0.5); 
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.task-form-modal {
	background-color: #DDDDDD;
	border-radius: 5px;
	padding: 15px;
}

#task-input-updated {
	width: 100%; 
	padding: 8px;
	box-sizing: border-box;
	margin-bottom: 10px;
	border-radius: 5px;
}

.add-task-modal {
	background-color: #C45500;
	color: #fff;
	border: none;
	padding: 10px 15px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 3px;
}

.index-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
  background: none;
	border-radius: 0.375rem;
	padding-bottom: 2rem;
}

.task-list,
.note-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.checklist-item {
  opacity: 0;
  transform: translateX(-5%);
	max-height: 0;
}

.checklist-item.appear {
  opacity: 1;
	max-height: fit-content;
  transform: translateX(0);
	transition: opacity 0.15s ease-out, transform 0.5s ease-out, max-height 0s linear;
}

.task-item {
	background-color: #C45500;
	color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input[type="checkbox"]:not(.selective-checkbox) {
	background-color: #DDDDDD;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 2px solid #C45500;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	outline: none;
	margin-right: 8px;
}

label {
	font-size: 16px;
	color: #333;
}

.btn.btn-primary.index-restore-btn,
.btn.btn-primary.tasks-restore-btn,
.btn.btn-primary.note-restore-btn{
	margin-left: 0;
}

.selective-task-list-col,
.selective-note-list-col {
	display: none;
}

.selective-list {
	border: 2px solid black;
	background-color: #F5F5F5;
	border-radius: 0.375rem;
	padding-bottom: 2rem;
}

input.selective-checkbox[type="checkbox"] {
}

input.selective-checkbox[type="checkbox"]:checked {
}

.task-row {
	margin-top: 2rem;
}

.selective-checkbox {
	display: block;
	clear: both;
  vertical-align: middle;
}

input[type="checkbox"]:not(.selective-checkbox):checked {
	background-color: #C45500;
	border: 2px solid #C45500;
	color: #fff;
}

.form-check .form-check-input:checked + .container .row .form-check-label {
	text-decoration: line-through;
}

.form-check-2 .form-check-input:checked + .container .row .form-check-label {
	text-decoration: line-through;
}

#new-tab-button {
	width: 8vw;
	height: 8vw;
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow_icon_button {
	width: 8vw;
	height: 8vw;
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nt-body {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	max-width: 100%;
}

.settings-body {
	height: 100vh;
	width: 100vw;
	background-image: url('../images/comic_cogs_bg.png');
	background-size: cover;
	max-width: 100%;
}

.settings-container {
  background: #dddddda3;
  margin-top: 3em;
	backdrop-filter: blur(8px);
	box-shadow: 0px 0px 24px #888888;
	border-radius: 12px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  min-height: 75vh;
}

#edit, #delete {
	display: flex;
	align-items: center;
}

.icon-margin {
	margin-right: 0.25em;
}

#addRuleForm,
#editForm,
#todoForm {
	background-color: #DDDDDD; 
	border-radius: 10px;
	padding: 0.5rem;
}

.modal {
	background-color: rgb(0 0 0 / 50%);
	backdrop-filter: blur(6px);
}

.form-group {
	margin-bottom: 15px;
}

#new-task-button {
	width: 35px;
	height:35px;
	filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

#editor {
	width: 300px;
	height: 300px;
	float: left;
}

.custom-container {
	width: 300%;
	border-radius: 10px; 
	background-color: #DDDDDD;
}

#add-note {
	background-color: transparent;
	border: 2px solid black;
	border-radius: 10px;
	color: black;
}

#title {
	background: white;
	color: #C45500;
}

#notes-list {
	overflow-y: auto;
	max-height: 450px;
	border-radius: 0;
}

.note-item:hover {
	background-color: #e9ecef; 
}

#contentDisplay {
	background-color: transparent; 
	overflow-x: auto;
	margin-top: 2em;
	height:500px;
	width:100%;
}

.sidebar {
	border-right: 2px solid #0000003d;
}

#my-notes-label {
	font-size: 2.5rem;
}

.bold-text{
	font-weight: bold;
	border-bottom: 2px solid #0000003d;
	padding-bottom: 0.5em;
}
.no-padding{
	padding:0;
}

.note-item {
	cursor: pointer;
	padding: 10px;
	border-bottom: 2px solid #0000003d;
	transition: background-color 0.3s;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.note-item-icon {
	width: 40px; 
	height: auto; 
	margin-right: 10px; 
}

.note-item-title {
	margin-right: 10px; 
}

.settings-title {
	font-size: 2.8vw;
	font-weight: bold;
	margin-left: 0.5rem;
	margin-bottom: 1rem;
	margin-right: 6rem;
}

svg {
	width: 36px;
	height: 36px;
}

.settings-entry {
	font-size: 1.6vw;
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.settings-entry.selected {
	border-radius: 1rem;
	background: #0d6efd;
	font-size: 1.6vw;
	color: white;
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.settings-pane {
  margin-top: 8.8vh;
  opacity: 1;
  transform: translateY(0em);
  transition: opacity 0.15s ease-in-out, transform 0.25s ease-in-out;
}

.settings-pane.hidden {
  transform: translateY(2em);
  opacity: 0;
  position: absolute;
	visibility: hidden;
}

.settings-icon {
	margin-left: 0.75rem;
	margin-right: 0.5rem;
}

.section-heading {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.settings-section {
	outline: solid 1px #bbbbbb;;
	border-radius: 0.375rem;
	padding: 0.5rem;
	background-color: #6969691f;;
	width: 96%;
}

.warn {
	width: 12rem;
	height: 12rem;
	opacity: 0.08;
	position: absolute;
	padding-bottom: 1.5rem;
}

.warn-2 {
	margin-top: 5rem;
	width: 12rem;
	height: 12rem;
	opacity: 0.75;
}

.warn-text {
	padding-top: 3.6rem;
	font-size: 2rem;
	font-weight: bold;
}

.warn-text-2 {
	font-size: 3rem;
	font-weight: bold;
}

.warn-text-3 {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 200px;
}

.zero-margin {
	margin-left: 0;
	margin-right: 0;
}

.zero-padding {
	padding-left: 0;
	padding-right: 0;
}

.tag {
  border-radius: 2rem;
  background-color: grey;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.tag.white {
  color: white;
}

.colour-square {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 0.375rem;
  margin-right: 0.185rem;
  margin-bottom: 0.75rem;
}

.tag-cont {
  background-color: #dddddd;
  padding: 0.375rem;
  border-radius: 10px;
}

.cont-clear {
	background: none;
}

.tag-caption {
  margin-bottom: 1em;
}

.background-reset-btn {
	font-size: 0.6rem;
	margin-left: 17em;
	margin-right: 0.75em;
	margin-bottom: 0;
}

.browse-background-btn {
	font-size: 0.6rem;
	margin-bottom: 0;
}

.tab-section-btn {
  margin-bottom: 0.4em;
}