@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Medium';
	src: url('fonts/Roboto-Medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


:root {
  --ui-pane-color: #dddddda3;
  --pane-text-color: #212529;
  --placeholder-text-color: #757575;
  --search-svg-color: black;
  --filter-active-color: white;
  --filter-color: black;
  --search-bar-color: #ffffff69;
  --dynamic-svg-color: black;
  --selected-color: white;
  --settings-section-color: #6969691f;
  --modal-form-section-color: #DDDDDD;
  --settings-section-outline: solid 1px #bbbbbb;
  --warn-color: #2c2f32;
  --del-progress-color: #ff000036;
  --cont-color: #dddddd;
  --circle-ind-color: #6c757d;
  --settings-bg: url('../images/comic_cogs_bg.png');
  --wallpaper-preview: url('../images/comic_bg.png');
  --comic-bg: url('../images/comic_bg.png');
  --panel-box-shadow: 0px 0px 24px #0000008a;
  --note-item-hover-color: #e9ecef;
}   

html.dark {
  --ui-pane-color: #2c2c2ca3;
  --pane-text-color: white;
  --placeholder-text-color: #c2c2c2;
  --search-svg-color: white;
  --filter-active-color: white;
  --filter-color: white;
  --search-bar-color: #00000069;
  --dynamic-svg-color: white;
  --selected-color: white;
  --settings-section-color: #4a4a4a;
  --modal-form-section-color: #4a4a4a;
  --settings-section-outline: none;
  --warn-color: white;
  --del-progress-color: #321717c9;
  --cont-color: #dddddd26;
  --circle-ind-color: #3d4144;
  --wallpaper-preview: url('../images/comic_bg_dark.png');
  --settings-bg: url('../images/comic_cogs_bg_dark.png');
  --comic-bg: url('../images/comic_bg_dark.png');
  --panel-box-shadow: 0px 0px 24px #0000008a;
  --note-item-hover-color: #1e1e1f;
}

body.hidden {
  display: none;
}

body, html {
	font-family: Roboto, Arial, sans-serif !important;
	background-color: white;
	margin: 0;
	max-width: 100%;
	padding: 0!important;
	overflow-x: hidden;
  background-color: #dddddda3;
}

@media (prefers-color-scheme: dark) {
  body, html {
    background-color: #2e2e2e;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.popup {
	width: 400px;
  background-image: var(--comic-bg);
}

ul {
	list-style: none;
}

#main-container {
	padding: 5px;
	min-height: 550px;
	width: 500px;
	box-shadow: 0 0 5px #DDDDDD;
	margin: 5px;
	border-radius: 10px; 
}

#title {
	background-color: var(--search-bar-color) !important;
	color: var(--pane-text-color) !important;
	text-align: left;
	padding: 10px;
	border-radius: 18px;
	position: relative;
}
.button-div, #add-todo-btn, .primary-outline-btn, #add-note-button, .add-task, .add-task-modal, .selective-checkbox, #appearance,
#notebook, #indexing,#backup,#about, #manage-settings, #todo-list-button, .note-item {
	cursor: pointer;
}

.button-div, #add-todo-btn, .primary-outline-btn {
	margin-top: 0.8em !important;
	background-color: #DDDDDD;
	border: 2px solid #C45500;
	position: absolute;
	top: 50%; 
	right: 2px;
	transform: translate(-50%, -50%); 
}

.round-override {
	border-radius: 12px !important; 
}

.size-1 {
	margin-top: 0.2em !important;
	margin-bottom: 0.2em !important;
	font-size: calc(1.2rem + .9vw);
}

.light-text {
	color: #4F4F4F;
}

.cm-s-paper,
.CodeMirror-scroll {
  background-color: var(--ui-pane-color);
  transition: background 0.5s ease-out;
}

.editor-toolbar a {
  color: var(--pane-text-color) !important;
}

.card-title, .card-title-clear {
	font-family: Roboto, Arial, sans-serif;
	user-select: none;
}

.card-title-clear {
	background: none;
	padding: 0.4em 0.6em 0.4em 0.2em;
  font-size: 1.35rem;
  display: flex;
  align-items: center;
	
}

.popup-control-group {
	background: none;
  display: flex;
  align-items: center;
	user-select: none;
}
.popup-control-group , .card-title-lg , .card-title-md , .search-bar , .search-bar-sm, .list-group-item {
	padding-left: 0.6em
}
.card-title-lg, .card-title-md, .popup-control-group {
	padding-right: 0.6em
}
.popup-control-group, .card-title-lg, .card-title-md, .panel-lg,.search-bar, .search-bar-sm, .list-group-item {
	padding-top: 0.4em
}
.popup-control {
  width: 176px;
  align-items: center;
  justify-content: center;
}
.popup-control-group, .card-title-lg, .card-title-md, .panel-lg, .search-bar , .search-bar-sm , .list-group-item {
	padding-bottom: 0.4em
}

.fixed-h-34 {
  height: 34px;
}

.cosmetic-offset-1 {
  margin-left: 1.25rem;
}
.card-title-lg, .card-title-md {
	font-family: Roboto Medium, Arial, sans-serif;
	background-color: var(--ui-pane-color);
	backdrop-filter: blur(8px);
	box-shadow: var(--panel-box-shadow);
	border-radius: 12px;
	display: flex;
  	align-items: center;
	user-select: none;
}

.card-title-md, .list-group-item, .popup-control-group {
  font-size: 1.25rem;
}

.card-title-lg , .task-title, .warn-text, .warn-text-3, .warn-text-4{
  font-size: 2rem;
}

.panel-lg, .filter-btn {
	background-color: var(--ui-pane-color);
	backdrop-filter: blur(8px);
	box-shadow: var(--panel-box-shadow);
	border-radius: 12px;
}


.controls {
  margin-left: 0.075rem;
  margin-right: 0.075rem;
}

.filter-btn {
  outline: none;
  border: none;
  padding: 0.375em;
}

.fb-pad {
  padding-right: 0.4em;
}

.filter-btn:hover {
	background-color: #6c757d2e;
}

.filter-btn:active svg {
  fill: var(--filter-active-color);
}

.search-bar-sm {
  margin-left: 0.4em;
  margin-bottom: 0.4em;
  padding-right: 3em;
  transition: background 0.5s ease-out;
}

.search-bar-sm:focus {
	outline: none;
}

.filter-svg {
  width: 2rem;
  height: 2rem;
  fill: var(--filter-color);
}

.search-svg {
  width: 3.6rem;
  height: 3.6rem;
  fill: var(--search-svg-color);
}

.search-bar {
  width: 96%;
  margin-top: 1.2em;
}
.search-bar, .search-bar-sm {
	font-family: Roboto, Arial, sans-serif;
	background-color: var(--search-bar-color);
	backdrop-filter: blur(8px);
	border: none;
	font-size: 1rem;
  	border-radius: 0.375rem;
  	display: flex;
  	align-items: start;
}

.search-bar:focus {
	outline: none;
}

.search-bar-lg {
	font-family: Roboto, Arial, sans-serif;
	background: none;
	font-size: 1.5rem;
	border: none;
}

input::placeholder {
  color: var(--placeholder-text-color) !important;
}

.src-col {
	padding-left: 0;
}

.search-bar-lg:focus {
	outline: none;
}
#add-todo-btn, .primary-outline-btn {
	margin-left: 10px;
	font-weight: bold;
	color: #C45500;
	border-radius: 1.5vw;

}

#add-todo-btn {
	margin-left: 10px;
	width: 3vw;
	height: 3vw;
	font-size: 2.5vw;
	line-height: 3vw;
	 
}

.form-switch-lg .form-check-input {
  height: 2rem;
  width: calc(3rem + 0.75rem) !important;
  border-radius: 4rem
}

.primary-outline-btn{
	width: 6vw;
	height: 6vw;
	font-size: 3vw;
	padding-left: 1.8vw;
	line-height: 0;
	
}

.btn-circle {
	border-radius: 50%;
	height: 2em;
  width: 2em;
	font-weight: bold;
	box-shadow: var(--panel-box-shadow);
  transform: scale(1);
  transition: border-radius 0.15s ease-out, height 0.15s ease-out, width 0.15s ease-out, transform 0.15s ease-out;
}

.circle-ind {
  background-color: var(--circle-ind-color);
	border-radius: 50%;
	height: 1em;
  width: 1em;
	box-shadow: var(--panel-box-shadow);
}

.circle-ind.enabled {
  background-color: #34c744;
}

.pilled {
	border-radius: 2rem;
	height: 2em;
  width: 4em;
	font-weight: bold;
	box-shadow: var(--panel-box-shadow);
  border: 1px solid #0d6efd;
  background: #0d6efd;
  transition: border-radius 0.1s ease-out, height 0.15s ease-out, width 0.15s ease-out, background 0.15s ease-out;
}

.pilled:hover {
  background: #0b5ed7;
  border: 1px solid #0d6efd;
}

.collapsed {
  transform: scale(0.0);
  transition: transform 0.15s ease-out;
}

.svg-hide {
  opacity: 0;
  display: none;
  transition: opacity 0.15s ease-out, display 0.15s ease-out;
}

.svg-show {
  opacity: 1;
  transition: opacity 0.15s ease-out;
}

.bi-pencil-square {
  fill: var(--dynamic-svg-color);
}

.clock-svg {
  fill: black;
  transition: fill 0.15s ease-out;
}

.temp-svg-white {
  fill: white;
  transition: fill 0.15s ease-out;
}

#checklist {
	background: none;
	min-height: 327px;
}

#rd-checklist,
#checklist-2 {
	background: none;
  transform: scale(0.96);
  opacity: 0;
  position: absolute;
}

#rd-checklist.appear,
#checklist-2.appear {
  opacity: 1;
  transform: scale(1);
  position: static;
	transition: opacity 0.15s ease-out, transform 0.2s ease-out;
}

#checklist input {
	margin-right: 5px;
}

#checklist label {
	margin-bottom: 5px;
	display: inline-block;
}

.form-check {
	background: none;
  margin-top: 0.2em;
}

.note-container, .form-check-2{
	background-color: var(--ui-pane-color);
	backdrop-filter: blur(8px);
	box-shadow: var(--panel-box-shadow);
	padding: 1.5em;
	border-radius: 12px;
}

.changing {
  transition: background 0.5s ease-out;
}

#contentDisplay,
#titleDisplay,
.note-item-title,
.CodeMirror-code,
.dynamic-title,
.index-list,
.form-check-label,
#add-note,
.settings-title,
.settings-entry,
.section-heading,
.card-title-clear,
.search-bar,
.search-bar-lg
 {
  color: var(--pane-text-color);
}

.note-main {
	padding-left: 2em;
}

#add-note-button {
	background-color: #C45500;
	color: #fff;
	border: none;
	padding: 10px 15px;
	font-size: 1em;
	border-radius: 0.375rem;
}

.form-check-2 {
	display: block;
	margin-top: 1.5em;
  	transition: background 0.5s ease-out;
}

.form-check-2 .form-check-input {
	float: left;
}

.task-desc {
	overflow-wrap: anywhere;
	white-space: pre-wrap;
}

.card {
	border: None;
	background-color: #DDDDDD;
}

.task-title {
	margin-top: -0.75rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.capped {
	width: 64%;
}

.todo-container {
	background-color: #DDDDDD;
	border: None;
}

.fill-btn {
	width: 100%;
	height: 100%;
}

.restore-col,
.edit-col {
	margin-left: 1rem;
}

.list-group-item {
	background: linear-gradient(to right, var(--del-progress-color) 0%, var(--ui-pane-color) 0%);
	backdrop-filter: blur(8px);
	box-shadow: var(--panel-box-shadow);
	border-radius: 12px;
  display: flex;
  align-items: center;
	user-select: none;
	border: None;
  opacity: 0;
  transform: translateX(-3%);
	max-height: 0;
}

.list-group-item.appear {
  opacity: 1;
	max-height: fit-content;
  transform: translateX(0);
	transition: opacity 0.15s ease-out, transform 0.5s ease-out, max-height 0s linear;
}

.task-form {
	background-color: #DDDDDD;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}

.task-input {
	width: 100%; 
	padding: 8px;
	box-sizing: border-box;
	margin-bottom: 10px;
	border-radius: 5px;
}

.add-task {
	background-color: #C45500;
	color: #fff;
	border: none;
	padding: 10px 15px;
	font-size: 1em;
	border-radius: 3px;
}

.modal {
	background-color: rgba(221, 221, 221, 0.5); 
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.task-form-modal {
	background-color: #DDDDDD;
	border-radius: 5px;
	padding: 15px;
}

#task-input-updated {
	width: 100%; 
	padding: 8px;
	box-sizing: border-box;
	margin-bottom: 10px;
	border-radius: 5px;
}

.add-task-modal {
	background-color: #C45500;
	color: #fff;
	border: none;
	padding: 10px 15px;
	font-size: 1em;
	border-radius: 3px;
}

.index-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
  background: none;
	border-radius: 0.375rem;
	padding-bottom: 2rem;
  
}

.task-list,
.note-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.checklist-item {
  opacity: 0;
  transform: translateX(-5%);
}

.checklist-item.appear {
  opacity: 1;
  transform: translateX(0);
	transition: opacity 0.15s ease-out, transform 0.5s ease-out, max-height 0s linear;
}

.task-item {
	background-color: #C45500;
	color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input[type="checkbox"]:not(.selective-checkbox):not([role="switch"]) {
	background-color: white;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 2px solid #C45500;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	outline: none;
	margin-right: 8px;
  cursor: pointer;
}

label {
	font-size: 16px;
	color: #333;
}

.btn.btn-primary.index-restore-btn,
.btn.btn-primary.tasks-restore-btn,
.btn.btn-primary.note-restore-btn{
	margin-left: 0;
}

.selective-task-list-col,
.selective-note-list-col {
	display: none;
}

.selective-list {
	border: 2px solid black;
	background-color: #F5F5F5;
	border-radius: 0.375rem;
	padding-bottom: 2rem;
}


.task-row {
	margin-top: 2rem;
}

.selective-checkbox {
	display: block;
	clear: both;
  vertical-align: middle;
  
}

input[type="checkbox"]:not(.selective-checkbox):not([role="switch"]):checked {
	background-color: #C45500;
	border: 2px solid #C45500;
	color: #fff;
}



.form-check .form-check-input:not([role="switch"]):checked + .container .row .form-check-label , 
.form-check-2 .form-check-input:not:checked + .container .row .form-check-label {
	text-decoration: line-through;
}

.popup-chevron {
  margin-left: 13rem;
  height: 24px;
}

.popup-chevron-2 {
  height: 20px;
  width: 20px;
}

.emphasis-label {
  font-size: 1.2rem;
}

.arrow_icon_button {
	width: 8vw;
	height: 8vw;
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nt-body {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	max-width: 100%;
}

.settings-body {
	height: 100vh;
	width: 100vw;
	background-image: var(--settings-bg);
	background-size: cover;
	max-width: 100%;
}

.settings-container {
  background: var(--ui-pane-color);
  margin-top: 3em;
	backdrop-filter: blur(8px);
	box-shadow: var(--panel-box-shadow);
	border-radius: 12px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  min-height: 75vh;
}

#edit, #delete {
	display: flex;
	align-items: center;
}

.icon-margin {
	margin-right: 0.25em;
}

#addRuleForm,
#editForm,
#todoForm {
	background-color: var(--modal-form-section-color); 
	border-radius: 10px;
	padding: 0.5rem;
}

.modal {
	background-color: rgb(0 0 0 / 50%);
	backdrop-filter: blur(6px);
}

.form-group {
	margin-bottom: 15px;
}

#new-task-button {
	width: 35px;
	height:35px;
	filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

#editor {
	width: 300px;
	height: 300px;
	float: left;
}

.custom-container {
	width: 300%;
	border-radius: 10px; 
	background-color: #DDDDDD;
}

#add-note {
	background-color: transparent;
	border: 2px solid black;
	border-radius: 10px;
	
}

#title {
	background: white;
	color: #C45500;
}

#notes-list {
	overflow-y: auto;
	max-height: 450px;
	border-radius: 0;
}

.note-item:hover {
	background-color: var(--note-item-hover-color); 
}

#contentDisplay {
	background-color: transparent; 
	overflow-x: auto;
	margin-top: 2em;
	height:500px;
	width:100%;
}

.sidebar {
	border-right: 2px solid #0000003d;
}

#my-notes-label {
	font-size: 2.5rem;
}

.bold-text{
	font-weight: bold;
	border-bottom: 2px solid #0000003d;
	padding-bottom: 0.5em;
}
.no-padding{
	padding:0;
}

.note-item {
	padding: 10px;
	border-bottom: 2px solid #0000003d;
	transition: background-color 0.3s;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.note-item-icon {
	width: 40px; 
	height: auto; 
	margin-right: 10px; 
}

.note-item-title {
	margin-right: 10px; 
}

.settings-title {
	font-size: 2.8vw;
	font-weight: bold;
	margin-left: 0.5rem;
	margin-bottom: 1rem;
	margin-right: 6rem;
  
}

svg {
	width: 36px;
	height: 36px;
}

.settings-entry {
	font-size: 1.6vw;
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;

}

.settings-entry.selected {
	border-radius: 1rem;
	background: #0d6efd;
	font-size: 1.6vw;
	color: var(--selected-color);
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.settings-pane {
  margin-top: 8.8vh;
  opacity: 1;
  transform: translateY(0em);
  transition: opacity 0.15s ease-in-out, transform 0.25s ease-in-out;
}

.settings-pane.hidden {
  transform: translateY(2em);
  opacity: 0;
  position: absolute;
	visibility: hidden;
}

.settings-icon {
	margin-left: 0.75rem;
	margin-right: 0.5rem;
}

.section-heading {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
  
}

.settings-section {
	outline: var(--settings-section-outline);
	border-radius: 0.375rem;
	padding: 0.5rem;
	background-color: var(--settings-section-color);
	width: 96%;
}
.warn, .warn-2 , .warn-3 {
	fill: var(--warn-color);
}

.warn {
	width: 12rem;
	height: 12rem;
	opacity: 0.08;
	position: absolute;
	padding-bottom: 1.5rem;
  
}

.warn-2 {
	margin-top: 5rem;
	width: 12rem;
	height: 12rem;
	opacity: 0.75;
  
}

.warn-3 {
	width: 10rem;
	height: 10rem;
	opacity: 0.75;
	position: absolute;
	padding-bottom: 1.5rem;
  
}
.warn-text, .warn-text-2, .warn-text-3, .warn-text-4 {
	font-weight: bold;
	color: var(--warn-color);
}
.warn-text {
	padding-top: 3.6rem;
}

.warn-text-2 {
	font-size: 3rem;
}

.warn-text-3 {
	margin-top: 200px;
}

.warn-text-4 {
	margin-top: 9rem;
}

.zero-margin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.zero-padding {
	padding-left: 0;
	padding-right: 0;
}

.tag {
  border-radius: 2rem;
  background-color: grey;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.tag.white {
  color: white;
}

.colour-square {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 0.375rem;
  margin-right: 0.185rem;
  margin-bottom: 0.75rem;
}

.filter-cont {
  background-color: var(--cont-color);
  padding: 0.375rem;
  border-radius: 10px;
}

.cont-clear {
	background: none;
}

.tag-caption {
  margin-bottom: 1em;
}

.tab-section-btn {
  margin-bottom: 0.4em;
}

.temp {
	height: 25%;
	text-overflow: clip;
}

.arrow-svg {
  margin-right: 0.25rem;
  margin-bottom: 0.3rem;
}

#import-md-btn {
	margin-right: 0.425em;
}

#about-pane {
  height: 37rem;
  width: 95%;
  padding-right: 2.5rem;
  overflow-y: scroll;
}

.logo-128 {
  margin-top: 2rem;
  width: 128px;
  height: 128px;
  background-image: url('../images/logo128x128.png');
  border-radius: 24px;
	box-shadow: var(--panel-box-shadow);
}

.backup-checkbox {
  margin-left: 0.3rem;
  margin-right: 1rem !important;
  aspect-ratio: 1;
  padding: 0;
}

.settings-wallpaper-preview {
  width: 48em;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: flex;
  max-width: 100%;
}

.settings-wallpaper-preview-img {
  border-radius: 12px;
}

@keyframes due-shake {
  0% { transform: translateX(0px) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0px) }
}

.shaking {
  animation: due-shake 0.4s 1;
}